<% set_meta_tags :title => '3 Reasons Why You Should Actually Small Talk. | HK',
                 :description => 'It\'s boring, but let me tell you why you just gotta do it.',
                 :author => 'Han Kim',
                 :og => { :title => '3 Reasons Why You Should Actually Small Talk. | HK', :description => 'It\'s boring, but let me tell you why you just gotta do it.', :url => "http://www.hellohankim.com/blogs/reasons-to-small-talk", :type => "website", :image => 'http://www.hellohankim.com/assets/network-8d961951905f4d4a1547475cce76365b.jpg' } %>

<div class="logo-sm"><a href="/blog_index"><h1>HK</h1></a></div>
<div class="back-btn"><i class="fa fa-long-arrow-left"></i> <%= link_to 'back', blog_index_path %></div>

<div class="cover-photo">
  <%= image_tag 'network.jpg', alt: "An Odd Couple by Roger Stonehouse" %>
</div><!-- Cover Photo -->

<header>
  <div class="cover-title">
    <h1>3 reasons why you should actually <span style="color: #8C2238;">small talk</span>.</h1>
  </div><!-- Cover title -->
</header>

<div class="arrow">
  <i class="fa fa-angle-up"></i>
</div>

<div class="photo-cred">
  <p>photo cred: <a href="https://500px.com/photo/7002027/an-odd-couple-by-roger-stonehouse">An Odd Couple by Roger Stonehouse</a></p>
</div><!-- Photo Credit -->

<main class="blog-content-background">
  <article class="blog-content-container">
    <h1>3 reasons why you should actually small talk.</h1>
    <p>
      During my last year at Babson College where I studied business and entrepreneurship, I abided by a certain set of rules. Social rules. My suitemates and I called them the rules of B5 (that was our suite number). In this set of "social commandments", there was one particular law that I cannot live by anymore now that I am out in the post-collegiate, "real world". And this law stated,
    </p>
    <br>
    <p align="center"><span style="font-size: 1.5em;">No small talk.</span></p>
    <br>
    <p>
      Don't get me wrong, this rule was fantastic back at Babson, where the social landscape was no different from a super-sized highschool. Any college that has an undergraduate population that hovers slightly over only two thousand students will undoubtedly host a social ecosystem ripe for superficial conversations and relationships that are merely acquaintanceships. So many times I tried to avoid or curb any opportunities for small talk, because c'mon-- let's be real; I know you really don't give two shits about how my summer internship went or what I was trying to do after graduation.
    </p>
    <p>
      But I'm not spoiled inside the Babson bubble anymore. It's been almost two weeks since I went coast-to-coast, from the suburban boonies of Rhode Island to the vibrant city of San Francisco. My new abode is now located in SOMA, home to hundreds if not thousands of various startups. In fact, I'm living in a tech house with 50+ people in their prime 20's, consisting mostly of programmers, developers, and entrepreneurs. In these first two weeks, I've been introduced to more names than I can remember and I've been doing so much small talk that I'm sure my suitemates are somewhere shaking their heads. But you know what? This new city taught me that small talk is actually a critical and vital networking tool that everyone should practice and engage in if they want to better their chance of success in life.
    </p>
    <p>
      Here's a few reasons why:
    </p>
    <h2>1. Small talk is the seed to new relationships.</h2>
    <p>
      The reason why I didn't like small talk is because it's always such a rigid routine and somewhat artificial and scripted conversation. What's your name. Where are you from. Where do you live. What do you do. How was your day. Blah blah blah.
      <br><br>
      But if you want to meet new people, you just gotta suck it up and do it. Coming to San Francisco and into this new tech house, small talk is part of my daily life. Two weeks in and I'm STILL meeting new housemates that I haven't met yet. But I realized that I'm never going to forge new relationships if I don't go through this step. Until you build enough rapport with someone, you just got to keep doing small talk until you gain enough trust for each other where you can eliminate this step.
    </p>
    <h2>2. Small talk usually tells you right away whether someone is a friend or fake.</h2>
    <p>
      Most people have this sixth sense when it comes to sizing someone. Call it first impression, your social intuition, whatever. But after going through countless number of different small talks with different people here, I could easily tell who I'd click with and who I want to stay away from.
      <br><br>
      There are two types of people when it comes to small talk. There are people that will actually listen to you, ask you questions, and be genuinely interested in getting to know who you are. Then there are people that immediately tries to flaunt all their badges and flex their accomplishments, preaching their entire life sermon in the process. People like the latter are usually never fun to hang around since their insecurity will constantly demand worship and offerings in the form of your partial attention, petty approval, and fake interest. Their topic of conversations will always revolve around themselves. So in the end, small talk is a highly effective and intuitive way to pre-filter people that don't deserve real estate on your contact list.
    </p>
    <h2>3. Every single person you meet will know something you don't.</h2>
    <p>
      This is just a fact. I'm sure of it. Talk with someone long enough and you'll find out something that is either new to you or helpful to you. Even if you might not become friends, small talk will at least form acquaintanceship and with that comes connections. And let's face it, connections are how you move from point A to point B. Is it not?
    </p>
    <br>
    <p>
      At the end of the day, relationships get you to places, not merit. You really have everything to gain, and only 5 minutes of your times to lose. So make the extra effort to approach people and just strike up a light conversation. You never know what you might get out of it. Remember,
      <br><br><em>It's not the grades that you make, it's the hands that you shake.</em>
    </p>
    <br><br>
    <p class="date">Oct. 13th, 2014<br>written by han</p>
    <div align="center"><a href="https://twitter.com/hanothan" class="twitter-follow-button" data-show-count="false">Follow @hanothan</a> <div style="position: relative; top: -4px" class="fb-share-button" data-layout="button_count" data-href="http://www.hellohankim.com/blogs/reasons-to-small-talk"></div> <a href="https://twitter.com/share" class="twitter-share-button" data-via="hanothan">Tweet</a></div>
  </article><!-- Blog content container -->
</main><!-- Blog content background-->



