<div class="logo-sm"><a href="/blog_index"><h1>HK</h1></a></div>

<div class="cover-photo">
  <%= image_tag 'she.jpg', alt: "she" %>
</div><!-- Cover Photo -->

<header>
  <div class="cover-title">
    <h1>my first, last, and everything in between.</h1>
  </div><!-- Cover title -->
</header>

<div class="arrow">
  <i class="fa fa-angle-up"></i>
</div>

<div class="photo-cred">
  <p>photo cred: <a href="http://www.kylethompsonphotography.com/">kylethompsonphotography.com</a></p>
</div><!-- Photo Credit -->

<main class="blog-content-background">
  <article class="blog-content-container">
    <h1>my first, last, and everything in between.</h1>
    <p>
      She wakes me up first thing in the morning.<br>
      She smiles with her brown hazel eyes over her warm cup of tea.<br>
      She asks me how she looked in my dream last night.<br>
      She brushes the lint off my shoulders from behind as I adjust my Windsor knot.<br>
      She visits me at work just to say hello.<br>
      She asks me to come home early.<br>
      She dines with me over a glass of wine and steak.<br>
      She eats green-tea ice cream with me. <br>
      She converses with me.<br>
      She laughs with me. <br>
      She heals me.<br>
      She lies in bed next to me when the moon rises.<br>
      She listens to me, my confessions, yet again.<br>
      <br>
      I eventually fall asleep as she leaves my head and I tell myself,<br>
      <br>
       “maybe tomorrow”.
    </p><br><br>
    <p class="date">Oct. 2nd, 2014<br>written by han</p>
  </article><!-- Blog content container -->
</main><!-- Blog content background-->


