<% set_meta_tags :title => 'My first, last, and everything in between | HK',
                 :description => 'An ode to the special she.',
                 :author => 'Han Kim',
                 :og => { :title => 'My first, last, and everything in between | HK', :description => 'An ode to the special she.', :url => "http://www.hellohankim.com/blogs/she", :type => "website", :image => 'http://www.hellohankim.com/assets/she-65134881c30b7c4f4be39d06b803d0ee.jpg' } %>

<div class="logo-sm"><a href="/blog_index"><h1>HK</h1></a></div>

<div class="cover-photo">
  <%= image_tag 'she.jpg', alt: "she" %>
</div><!-- Cover Photo -->

<header>
  <div class="cover-title">
    <h1>my first, last, and everything in between.</h1>
  </div><!-- Cover title -->
</header>

<div class="arrow">
  <i class="fa fa-angle-up"></i>
</div>

<div class="photo-cred">
  <p>photo cred: <a href="http://www.kylethompsonphotography.com/">kylethompsonphotography.com</a></p>
</div><!-- Photo Credit -->

<main class="blog-content-background">
  <article class="blog-content-container">
    <h1>my first, last, and everything in between.</h1>
    <p>
      She wakes me up first thing with the morning sun.<br>
      She smiles with her brown hazel eyes over her warm cup of tea, my weak spot.<br>
      She asks me how she looked in my dream, her hair undone.<br>
      She brushes the lint off my shoulders from behind as I adjust my Windsor knot.<br>
      She visits me at work just to say hi.<br>
      She always tempts me to come home early.<br>
      She dines with me over a glass of cabernet and ribeye.<br>
      She never turns down the green-tea ice cream surely. <br>
      She converses with me.<br>
      She laughs with me. <br>
      She heals me.<br>
      She defines me.<br>
      She lies in bed next to me with the rising moon.<br>
      She listens to me, my confessions, yet again too soon.<br>
      <br>
      I eventually fall asleep as she leaves my head and I tell myself,<br>
      <br>
       “maybe tomorrow”.
    </p><br><br>
    <p class="date">Oct. 2nd, 2014<br>written by han</p>
  </article><!-- Blog content container -->
</main><!-- Blog content background-->


