<header>
  <div class="logo-sm"><a href="/"><h1>HK</h1></a></div>
  <div id="blog-index-container">
    <h1>library of thoughts.</h1>
  </div><!-- Blog Index -->
</header>

<div id="sidebar"></div>

<main class="article-container">
  <article class="article-box">
    <%= link_to (image_tag 'she.jpg', alt: "she"), blogs_she_path %>
    <h2>my first, last, and everything in between.</h2>
    <p>An ode to the special she.
    <br>
    <span style="color: #585858; font-size: 0.8em; opacity: 0.8;">October 2nd, 2014</span>
    </p>
  </article>
</main>

<footer class="copyright">© hk productions 2014 <a href="mailto:hankim813@gmail.com?subject=I'd like to ask you about web development">[want your own?]</a></div>