<% set_meta_tags :title => 'Hello, I\'m Han.',
                 :description => 'Explore my intellect.',
                 :author => 'Han Kim',
                 :og => { :title => 'Hello, I\'m Han.', :description => 'Explore my intellect.', :url => "http://www.hellohankim.com/", :type => "website", :image => '/images/han.jpg' } %>



<div id="landing-body-bg"><%= image_tag 'han.jpg', class: "hide", alt: "Han Kim" %></div>
<div id="welcome-container">
  <div class="logo center"><h1>HK</h1></div>
  <br><br>
  <span class="element"></span>
  <br><br>
  <div id="enter-btn" class="hide"><%= link_to '[ enter ]', blog_index_path %></div>
</div>

<footer id="landing-page"><%= link_to 'skip', blog_index_path %></footer>


<!-- Typing Effect -->

<script>
  $(function(){
      $(".element").typed({
        strings: ["Hey ninja.", "Thanks for coming.", "I'm Han--", "a midnight marauder", "a disciple of design", "and an ardent lover.", "Welcome to my thoughts."],
        typeSpeed: 20,
        backSpeed: 0,
        startDelay: 1000,
        backDelay: 1000,
        callback: function(){
          $('#enter-btn').delay(1500).fadeIn("slow");
        }
      });
  });
</script>
