@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }

div {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

/* CSS snippet tools */

.center { margin: 0 auto;}

.right { text-align: right;}

.left { text-align: left;}

.justify { text-align: justify;}

.float-left { float: left;}

.float-right {  float: right;}

.float-center { float: center;}

.clear:before, .clear:after {
    content: " ";
    display: table;
}

.clear:after {
    clear: both;
}

.hide {
  display: none;
}

.invisible {
  visibility: hidden;
}

hr {
  border-top: 1px solid #D8D8D8;
}

/* Forms */

input, textarea, select{ font-family: 'Inconsolata' !important;}

.form-group {
  font-family: 'Inconsolata';
  font-weight: bold;
  text-transform: lowercase;
  color: #BABABA !important;
}